@page
@model Projeto_AT_DotNet.Pages.Descontos.CalculoDescontoModel
@{
    ViewData["Title"] = "Cálculo de Desconto do Pacote";
}

@*Atv 1*@
<h1>@ViewData["Title"]</h1>

<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="PrecoDeEntrada" class="control-label">Preço Original do Pacote</label>
                <input asp-for="PrecoDeEntrada" class="form-control" type="number" step="0.01" min="0" required />
            </div>

            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Aplicar Desconto (10%)</button>
            </div>
        </form>

        <hr />

        @if (Model.PrecoComDesconto > 0)
        {
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Resultado do Cálculo</h4>
                <p>O preço original informado foi: R$ @Model.PrecoDeEntrada.ToString("F2")</p>
                <p>O preço final com o desconto (calculado via Delegate) é: R$ @Model.PrecoComDesconto.ToString("F2")</p>
                <p class="mb-0">@ViewData["Mensagem"]</p>
            </div>
        }
    </div>
</div>

@*Atv 3*@
<hr class="mt-5 mb-5" />

<h2>Cálculo de Valor Total com Func e Expressão Lambda</h2>

<div class="row">
    <div class="col-md-6">
        <form method="post" asp-page-handler="CalcularTotal">
            <div class="form-group">
                <label asp-for="DuracaoEmDias" class="control-label">Duração do Pacote (Dias)</label>
                <input asp-for="DuracaoEmDias" class="form-control" type="number" min="1" required />
            </div>

            <div class="form-group mt-3">
                <label asp-for="PrecoDiaria" class="control-label">Preço da Diária (R$)</label>
                <input asp-for="PrecoDiaria" class="form-control" type="number" min="1" required />
            </div>

            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-info">Calcular Preço Total</button>
            </div>
        </form>

        <hr />

        @if (Model.PrecoTotalReserva > 0)
        {
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Resultado do Cálculo</h4>
                <p>Duração (@Model.DuracaoEmDias dias) x Diária (R$ @Model.PrecoDiaria.ToString("F2"))</p>
                <p>O Preço Total da Reserva: R$ @Model.PrecoTotalReserva.ToString("F2")</p>
            </div>
        }
    </div>
</div>